@tailwind base;
@tailwind components;
@tailwind utilities;



.custom-table {
    width: 100%;
   border:none;
  }
  
  .custom-table-header {
    background-color: #a6a2b8;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .custom-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  
  .custom-table tbody td {
    padding: 10px;
   
  }

  
  .custom-table tbody tr {
    padding: 10px;
    border: 1px solid #ddd;
  }

